{% block author_form %}
    <sw-page class="author-form">
        <template slot="smart-bar-actions">
            <sw-button
                    :disabled="isLoading"
                    @click.prevent="onCancel">
                {{ $tc('authors.form.buttonCancel') }}
            </sw-button>

            <sw-button
                    :disabled="isLoading"
                    variant="primary"
                    @click.prevent="onSave">
                {{ $tc('authors.form.buttonSave') }}
            </sw-button>
        </template>

        <sw-card-view slot="content">
            <sw-card>
                <h2>Author edit</h2>

                <sw-field
                        type="text"
                        required
                        :label="$tc('authors.form.name')"
                        :placeholder="placeholder(author, 'name', $tc('authors.form.name'))"
                        v-model="author.name">
                </sw-field>

                <sw-field
                        type="text"
                        required
                        :label="$tc('authors.form.description')"
                        :placeholder="placeholder(author, 'description', $tc('authors.form.description'))"
                        v-model="author.description">
                </sw-field>

                <sw-field
                        type="text"
                        required
                        :label="$tc('authors.form.birthdate')"
                        :placeholder="placeholder(author, 'birthdate', $tc('authors.form.birthdate'))"
                        v-model="author.birthdate">
                </sw-field>
            </sw-card>
        </sw-card-view>
    </sw-page>
{% endblock %}
