{% block author_form %}
    <sw-page class="author-form">
        <template slot="smart-bar-actions">
            <sw-button
                    :disabled="isLoading"
                    @click.prevent="onCancel">
                {{ $tc('authors.form.buttonCancel') }}
            </sw-button>

            <sw-button
                    :disabled="isLoading || !acl.can('authors.editor')"
                    variant="primary"
                    @click.prevent="onSave">
                {{ $tc('authors.form.buttonSave') }}
            </sw-button>

            <sw-button-process
                    class="authors-form__save-action"
                    :isLoading="isLoading"
                    v-model="isSaveSuccessful"
                    :disabled="isLoading || !acl.can('authors.editor')"
                    @process-finish="saveFinish"
                    @click.prevent="onSaveAndContinue">
                {{ $tc('authors.form.buttonSaveAndContinue') }}
            </sw-button-process>
        </template>

        <sw-card-view slot="content">
            <sw-card>
                <h2>Author edit</h2>

                <sw-field
                        type="text"
                        required
                        :disabled="!acl.can('authors.editor')"
                        :label="$tc('authors.form.name')"
                        :placeholder="placeholder(author, 'name', $tc('authors.form.name'))"
                        v-model="author.name">
                </sw-field>

                <sw-field
                        type="text"
                        required
                        :disabled="!acl.can('authors.editor')"
                        :label="$tc('authors.form.description')"
                        :placeholder="placeholder(author, 'description', $tc('authors.form.description'))"
                        v-model="author.description">
                </sw-field>

                <sw-datepicker
                        required
                        :label="$tc('authors.form.birthdate')"
                        :placeholder="placeholder(author, 'birthdate', $tc('authors.form.birthdate'))"
                        :config="datepickerConfig"
                        v-model="author.birthdate">
                </sw-datepicker>
            </sw-card>

            <sw-card title="Custom fields">
                <sw-custom-field-set-renderer
                        :entity="author"
                        :sets="customFieldSets"
                        showCustomFieldSetSelection>
                </sw-custom-field-set-renderer>
            </sw-card>
        </sw-card-view>
    </sw-page>
{% endblock %}
